#cloud-config
users:
  - name: root
    ssh-authorized-keys:
      - "<YOUR_SSH_KEY>" 

#runcmd:
#  # Disable EDD
#  - sed -i '/^GRUB_CMDLINE_LINUX=/c GRUB_CMDLINE_LINUX="edd=off,console=ttyS0"' /etc/default/grub
#  - grub2-mkconfig -o /boot/grub2/grub.cfg